.panel {}

.progressFrame {
  display: flex;
  gap: 4px;
  padding: 4px;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  min-height: 36px;
}

.progressStep {
  width: 20px;
  height: 28px;
  background: #12008a;
}
