.root {
  display: flex;
  background: var(--win-color-surface, #cac6cb);
  user-select: none;
}

.vertical {
  width: var(--win-size-scrollbar-thickness, 32px);
  flex-direction: column;
}

.horizontal {
  height: var(--win-size-scrollbar-thickness, 32px);
}

.track {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  background:
    linear-gradient(
      45deg,
      #efeeef 25%,
      transparent 25%,
      transparent 75%,
      #efeeef 75%,
      #efeeef
    )
    0 0 / 6px 6px,
    linear-gradient(
      45deg,
      #efeeef 25%,
      transparent 25%,
      transparent 75%,
      #efeeef 75%,
      #efeeef
    )
    3px 3px / 6px 6px,
    var(--win-color-surface-field, #fcfcfc);
}

.vertical .track {
  flex-direction: column;
}

.horizontal .track {
  flex-direction: row;
}

.button {
  flex-shrink: 0;
  background: var(--win-color-surface, #cac6cb);
}

.button:not(:disabled) {
  box-shadow:
    inset -1.5px -1.5px 0 0 var(--win-color-border-darkest, #263238),
    inset 1.5px 1.5px 0 0 var(--win-color-border-lightest, #fcfcfc),
    inset -3px -3px 0 0 var(--win-color-border-dark, #a099a1),
    inset 3px 3px 0 0 var(--win-color-surface-raised, #dedcde);
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  touch-action: none;
  cursor: grab;
  background: var(--win-color-surface, #cac6cb);
  box-shadow:
    inset -1.5px -1.5px 0 0 var(--win-color-border-darkest, #263238),
    inset 1.5px 1.5px 0 0 var(--win-color-border-lightest, #fcfcfc),
    inset -3px -3px 0 0 var(--win-color-border-dark, #a099a1),
    inset 3px 3px 0 0 var(--win-color-surface-raised, #dedcde);
}

.thumb:active {
  cursor: grabbing;
}

.root[data-disabled] .thumb {
  cursor: default;
}

.vertical .thumb {
  width: 100%;
  min-height: var(--win-size-scrollbar-thumb-min, 48px);
}

.horizontal .thumb {
  height: 100%;
  min-width: var(--win-size-scrollbar-thumb-min, 48px);
}
